@model PeoplesViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>People List Index</h1>

<br />
<button class="btn btn-secondary btn-sm" data-toggle="collapse" data-target="#CreatePerson">Add Person to List</button>
<br />
<div id="CreatePerson" class="collapse">
    <h3>Create Person</h3>
    <form asp-action="Create">
        <label asp-for="@Model.CreatePerson.Name"></label>
        <input asp-for="@Model.CreatePerson.Name" class="form-control col-2" />
        <span asp-validation-for="@Model.CreatePerson.Name"></span>
        <br />
        <label asp-for="@Model.CreatePerson.PhoneNum"></label>
        <input asp-for="@Model.CreatePerson.PhoneNum" class="form-control col-2" />
        <span asp-validation-for="@Model.CreatePerson.PhoneNum"></span>
        <br />
        <label asp-for="@Model.CreatePerson.City"></label>
        <input asp-for="@Model.CreatePerson.City" class="form-control col-2" />
        <span asp-validation-for="@Model.CreatePerson.City"></span>
        <br />
        <input type="submit" class="btn btn-primary" value="Create" />
    </form>
</div>



<br />
<div class="row">
    <div class="col-12">
        <form asp-action="Index" method="post">
            <div class="input-group mb-3">
                <input class="form-control col-3" type="search" placeholder="Search the list..." name="search" />
                <div class="input-group-append">
                    <button class="btn btn-success btn-sm" type="submit">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row shadow-sm p-4 mb-4 bg-white">
    <div class="col-12">
        <div class="row">
            <div class="col">
                <h4 class="border border-top-0 border-right-0">Name</h4>
            </div>
            <div class="col">
                <h4 class="border border-top-0 border-right-0">Phone Number</h4>
            </div>
            <div class="col">
                <h4 class="border border-top-0 border-right-0">City</h4>
            </div>
            <div class="col">

            </div>
        </div>
        @foreach (var item in Model.peopleList)
        {
            <div class="row">
                <partial name="_PeopleTablePartial" model="item" />
                <div class="col">
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Remove</a>
                </div>
            </div>
        }
    </div>
</div>
