@model PeoplesViewModel
@{
    ViewData["Title"] = "Index";
}

<h3>People List Index</h3>

<button class="btn btn-secondary btn-sm" data-toggle="collapse" data-target="#CreatePerson">Add Person to list</button>
<div id="CreatePerson" class="collapse">
    <h3>Create Person</h3>
    <form asp-action="Create">
        <label asp-for="@Model.CreatePerson.Name"></label>
        <input asp-for="@Model.CreatePerson.Name" class="form-control col-2" />
        <span asp-validation-for="@Model.CreatePerson.Name"></span>
        <br />
        <label asp-for="@Model.CreatePerson.PhoneNum"></label>
        <input asp-for="@Model.CreatePerson.PhoneNum" class="form-control col-2" />
        <span asp-validation-for="@Model.CreatePerson.PhoneNum"></span>
        <br />
        <label asp-for="@Model.CreatePerson.City"></label>
        <input asp-for="@Model.CreatePerson.City" class="form-control col-2" />
        <span asp-validation-for="@Model.CreatePerson.City"></span>
        <br />
        <input type="submit" class="btn btn-primary" value="Create" />
    </form>
</div>




<div class="row">
    <div class="col-12">
        <form asp-action="Index" method="post">
            <h4>Search</h4>
            <div class="input-group mb-3">
                <input class="form-control col-3" type="search" placeholder="Search" name="search" />
                <div class="input-group-append">
                    <button class="btn btn-success btn-sm" id="searchbtn" type="submit">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>

<table class="table-striped">
    <tr>

        <td><b>Name</b></td>
        <td><b>Phone</b></td>
        <td><b>City</b></td>
        <td></td>

    </tr>

    @{
        if (Model.peopleList != null)
        {

            @foreach (var item in Model.peopleList)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.PhoneNum</td>
                    <td>@item.City</td>
                    <td>
                        <a class="btn btn-outline-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">Remove</a>
                    </td>
                </tr>
            }
        }
    }
</table>