@model PeoplesViewModel
@{
    ViewData["Title"] = "Index";
}

<h3>People List Index</h3>

<a class="btn btn-primary" asp-action="Create">Add Person to list</a>
<h1>Create Person</h1>

<form asp-action="Create">
    <label asp-for="@Model.CreatePerson.Name"></label>
    <input asp-for="@Model.CreatePerson.Name" />
    <span asp-validation-for="@Model.CreatePerson.Name"></span>
    <br />
    <label asp-for="@Model.CreatePerson.PhoneNum"></label>
    <input asp-for="@Model.CreatePerson.PhoneNum" />
    <span asp-validation-for="@Model.CreatePerson.PhoneNum"></span>
    <br />
    <label asp-for="@Model.CreatePerson.City"></label>
    <input asp-for="@Model.CreatePerson.City" />
    <span asp-validation-for="@Model.CreatePerson.City"></span>
    <br />
    <input type="submit" value="Create" />
</form>

@*<div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col">
                    <h4>Name</h4>
                </div>
                <div class="col">
                    <h4>Phone Number</h4>
                </div>
                <div class="col">
                    <h4>City</h4>
                </div>
            </div>
            @foreach (var item in Model)
            {
                <div class="row">
                    <div class="col">
                        <p>@item.Name</p>
                    </div>
                    <div class="col">
                        <p>@item.PhoneNum</p>
                    </div>
                    <div class="col">
                        <p>@item.City</p>
                    </div>
                </div>
             }
        </div>
    </div>*@


<div class="row">
    <div class="col-12">
        <form asp-action="Index" method="post">
            <h4>Search</h4>
            <input class="mr-sm-1" type="search" name="search" />
            <button class="btn btn-success btn-sm" id="searchbtn" type="submit">Search</button>
        </form>
    </div>
</div>

<table class="table-striped">
    <tr>

        <td><b>Name</b></td>
        <td><b>Phone</b></td>
        <td><b>City</b></td>
        <td></td>

    </tr>

    @{
        if (Model.peopleList != null)
        {

            @foreach (var item in Model.peopleList)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.PhoneNum</td>
                    <td>@item.City</td>
                    <td>
                        <a class="btn btn-outline-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">Remove</a>
                    </td>
                </tr>
            }
        }
    }
</table>