@model PeoplesViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>People List Index</h1>

@if (@Model.Msg != null)
{
    <div class="toast">
        <div class="toast-header">
            <h5>Message</h5>
        </div>
        <div class="toast-body">
            @if (Model.Msg.Contains("Error"))
            {
                <p style="color: red">@Model.Msg</p>
            }
            else
            {
                <p style="color: green">@Model.Msg</p>
            }
        </div>
    </div>
}

<br />
<a class="btn btn-secondary btn-sm" asp-controller="People" 
   asp-action="AjaxCreate" data-target="#CreateEnviroment" 
   onclick="ShowCreate(event)">Add Person to List</a>
<br />
<div id="CreateEnviroment"></div>
@*<div id="CreatePerson" class="collapse">
    <h3>Create Person</h3>
    <form asp-action="Create">
        <label asp-for="@Model.CreatePerson.Name"></label>
        <input asp-for="@Model.CreatePerson.Name" class="form-control col-2" />
        <span asp-validation-for="@Model.CreatePerson.Name"></span>
        <br />
        <label asp-for="@Model.CreatePerson.PhoneNum"></label>
        <input asp-for="@Model.CreatePerson.PhoneNum" class="form-control col-2" />
        <span asp-validation-for="@Model.CreatePerson.PhoneNum"></span>
        <br />
        <label asp-for="@Model.CreatePerson.City"></label>
        <input asp-for="@Model.CreatePerson.City" class="form-control col-2" />
        <span asp-validation-for="@Model.CreatePerson.City"></span>
        <br />
        <input type="submit" class="btn btn-primary" value="Create" />
    </form>
    <partial name="_CreatePartial" model="Model." />
</div>*@

<br />
<div class="row">
    <div class="col-12">
        <form asp-action="Index" method="post">
            <div class="input-group mb-3">
                <input class="form-control col-3" type="search" placeholder="Search the list..." name="search" />
                <div class="input-group-append">
                    <button class="btn btn-success btn-sm" type="submit">Search</button>
                    <button class="btn btn-danger btn-sm" asp-action="Index" method="get">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>

<partial name="_ShowListPartial" model="Model.peopleList" />

@*<div class="row shadow-sm p-4 mb-4 bg-white">
    <div class="col-12">
        <div class="row">
            <div class="col">
                <h4 class="border border-top-0 border-right-0">Name</h4>
            </div>
            <div class="col">
                <h4 class="border border-top-0 border-right-0">Phone Number</h4>
            </div>
            <div class="col">
                <h4 class="border border-top-0 border-right-0">City</h4>
            </div>
            <div class="col">
                <h4 class="border border-top-0 border-right-0">Action</h4>
            </div>
        </div>
        @foreach (var item in Model.peopleList)
        {
            <div class="row">
                <partial name="_ListItemPartial" model="item" />
                <div class="col">
                    <a class="btn btn-outline-info" asp-action="Delete" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Remove</a>
                </div>
            </div>
        }
    </div>
</div>*@
