@model Person

<div class="row" id="listItem-@Model.Id">
    <div class="col">
        <p>@Model.Name</p>
    </div>
    <div class="col">
        <p><b>Phone:</b> @Model.PhoneNum</p>
    </div>
    <div class="col">
        @if (Model.City == null)
        {
            <b>No City</b>
        }
        else
        {
            <p><b>City:</b> @Model.City.Name</p>
        }
    </div>
    <div class="col-4">
        <a class="btn btn-outline-warning" asp-controller="People" asp-action="Edit"
           asp-route-id="@Model.Id" data-target="listItem-@Model.Id" onclick="ShowEdit(event)">Edit</a>
        <a class="btn btn-outline-danger" asp-controller="People" asp-action="Delete"
           asp-route-id="@Model.Id" data-target="listItem-@Model.Id" onclick="AjaxDelete(event)">Remove</a>
        <a class="btn btn-outline-info" asp-controller="People" asp-action="CloseDetails"
           asp-route-id="@Model.Id" data-target="listItem-@Model.Id" onclick="CloseDetails(event)">Close</a>
    </div>
</div>